body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 6em;
    padding-top: 0.5em;
    background-color: white;
    color: black;
}
body.dark-mode {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;

    input, input:focus, span.question {
        background-color: rgb(44, 44, 44);
        border-color: rgb(107, 107, 107);
        color: white;
    }

    section.sons span {
        background-color: black;
    }

    input::placeholder {
        color: rgb(167, 167, 167);
    }
}

div {
    text-align: center;
}

.imageSound, .imageSounde {
    position: relative;
    width: 1.4em;
    height: 1.4em;
    cursor: pointer;
}

section.sons {
    padding: 0.5em;

    span {
        padding: 0.5em;
    }
}